.env
.token.json
credentials.json
service.json
/octo-api-clients/
/.credentials/
/.Propaler_history
data/
/.chroma/
exlangchain.old/
GPTCache/
download/
models/
.venv/
__pycache__
.idea/
dist/
*.egg-info/